{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tracking App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
      function myFunction() {
          $('#load').load(document.URL +  " #load");
      }
      var i = setInterval(function() { myFunction(); }, 60000);
    </script>
    <style> 
      .color {
          color:green;
        }
    </style>
</head>
<body>
  <div class = "container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="/">
          <strong>PlayerTracker</strong>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
            <a href="saveid" class='navbar-item'>
              Add Player
            </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class = "has-background-light">
    <div class = "container " id = "load" >

    {% block content %}


    {% endblock %}

    </div>
  </div>
</body>
</html>