{% extends "core/base.html" %}

{% block content %}
<br>
    <div class = "is-flex pb-5" style= "justify-content: center;">
      <div class = "box" style= "width:600px;">
        <legend class = "subtitle is-flex " style= "justify-content: center;">Add Player</legend>
        <form method = 'POST'>
            {% csrf_token %}
            <div class = "field">
              <label for="players_name_given" class = label>Player name:</label>
              <div class = "control">
                {{ form.players_name_given }}
              </div>
            </div>

            <div class = "field_wrap">
              <label for="player_id" class = "label">Battlemetric ID:</label>
              {{ form.player_id }}
            </div>

            <div class = "field_wrap">
              <label for="playersteam_id" class = "label">Steam ID:</label>
              {{ form.playersteam_id }}
            </div>
            <button type="submit" class = "button mt-4 is-link"/>Submit</button>
        </form>   
      </div>
    </div>
{% endblock %}  