{% extends "core/base.html" %}

{% block content %}
      <form method = 'POST'>
          {% csrf_token %}
          <div class = "field_wrap">
            <label for="players_name_given">Player name:</label>
            {{ form.players_name_given }}
          </div>

          <div class = "field_wrap">
            <label for="player_id">Battlemetric ID:</label>
            {{ form.player_id }}
          </div>

          <div class = "field_wrap">
            <label for="playersteam_id">Steam ID:</label>
            {{ form.playersteam_id }}
          </div>

          <input type="submit" value="Submit" class = "btn"/>

      </form>   
{% endblock %}  